<div id="form">
  <h2>Edit Client Profile</h2>

  <form action="/client" method="POST">

      <label>
        <input type="text" name="fullName" placeholder="Name" required/>
      </label>
      <label> 
        <input type="email" name="email" placeholder="Email" required/>
      </label>
      <label>
        <input type="password" name="password" placeholder="********" required />
      </label>
      <label>
        <input type="text" name="address" placeholder="Address" required/>
      </label>
      <label>
        <input type="number" name="postcode" placeholder="Post code" required/>
      </label>
      <label>
        <p>Profile Image:</p>
        <input type="file" name="image" placeholder="Add image" required/>
      </label>

      <button type="submit" id="btn-singup-Client" class="btn btn-Client-login">Submit</button>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
</div>